<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mediaQueries.css">
    <title>Coffee Menu</title>
</head>
<body>
<header>
    <img src="/pictures/background.jpeg" alt="Coffee Pic" id = "coffeePicPhone">

<section class="container">
 <section class="title-text container">
    <section class="title-container">
     <h1 class ="title">TREND COFFEE </h1>
     <img src="/pictures/coffeeIcon.png" alt="Coffee Icon" id="coffeeIcon">
    </section>

    <section>
    <p class="address"><a href="http://maps.google.com/?q=1200 вулиця Франка 2, Коростень, Україна">вулиця Франка 2, Коростень, Україна</a></p>
    <p class="description">Затишний заклад із запашною кавою, смачними десертами та поживною випічкою</p>
    <p class="moto">Заходь - будь у ТРЕНДі✌️</p>
  </section>
 </section>   
</section>
</header>    


 <section class=" menu-container">
   <section class="menu-container__items">
    <a href="/coffee"> <button class="item-button" > Кава </button></a>
    <a href="/tea"> <button class="item-button" > Чай </button> </a>
    <a href="/drinkElse"> <button class="item-button" > НЕ кава і НЕ чай </button> </a>
    <a href="/desserts "><button class="item-button" > Десерти </button> </a>
    <a href="/toEat"> <button class="item-button" > Щось поїсти </button> </a>
     <a href="trendCoffee"><button class="item-button" > TREND кава </button>
    </a>  
    
    <br>
</section>
</section>
</body>
</html>