<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mediaQueries.css">
    <title>Document</title>
</head>
<body>
<header>
    <img src="/pictures/coffeeImg.jpeg" alt="Coffee Pic" id = "coffeePicPhone">

<section class="container">
 <section class="title-text container">
    <section class="title-container">
     <h1 class ="title">TREND COFFEE </h1>
     <img src="/pictures/coffeeIcon.png" alt="Coffee Icon" id="coffeeIcon">
    </section>

    <section>
    <p class="address">вулиця Франка 2, Коростень, Україна</p>
    <p class="description">Затишний заклад із запашною кавою, смачними десертами та поживною випічкою</p>
    <p class="moto">Заходь - будь у ТРЕНДі✌️</p>
  </section>
 </section>   
</section>
</header>    

<section class=" menu-container">
  <section class="container">
     <ul>
        <li><a href="/tea" class="menu-element">Чай</a></li>
        <li><a href="/coffee" class="menu-element">Кава</a></li>
        <li><a href="/desserts" class="menu-element">Десерти</a></li>
        <li><a href="/bakery" class="menu-element">Щось поїсти</a></li>
        <li><a href="/about" class="menu-element summer">Літнє меню</a></li>
     
     </ul>
  </section>
</section>
</body>
</html>