@media (max-width: 668px) {
    .see-more {
        display: inline;
    }
    
    .short-description {
        display: inline;
    }
    
    .full-description {
        display: none;
    }
    .price,
    .volume-container,
    .allergies {
        font-size: 14px;
    }
    #allergy-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 15px;
    }
    #coffeeVolume {
        width: 1.5rem;
        height: 2rem;
        margin-top: 0.8rem;
    }
    .icon {
        margin-left: 5px;
    }
}

@media (min-width: 669px) {
    .see-more {
        display: none;
    }
    
    .short-description {
        display: none;
    }
    
    .full-description {
        display: inline;
    }
    .icon {
        margin-left: 5px;
    }
}
