/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    background-color: #FFE9DD ;
    color: #331403;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    font-family: "Baskervville SC", serif;
    font-style: normal;
}

 .container {
    margin-left: 2rem;
 }
 img {

   width: 100%;
 }
 /**HEADER */
h1 {
    font-style: IBM Plex Sans;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 30px;
}
.title-text {
    margin-left: 2rem;
}
#coffeeIcon {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 2rem;
}
.title-container {
    display: flex;
    gap: 1rem;
}
a {
    text-decoration: none;
    color: #68625e;
    font-size: 16px;
}
a:hover {
    color: #252220;
}
.address,
.description {
    margin-top: 0;
    font-weight: lighter;
    font-style: Inter;
    margin-left: 1px;

}
.description {
    margin-bottom: 0;
    font-size: 18px;
}
.moto {
    font-weight: bold;
     margin-left: 1px;
     margin-top: 0.4rem;
     font-family: "Baskervville SC", serif;
   
}

/*MENU */
.menu-container {
    background-color: #EFDACF;
}
.menu-container__items {
    display: grid;
    margin-left: 2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    
}
.item-button {
    text-align: left;
    width: 70%;
    height: 4rem;
    margin-left: 2rem;
    border-radius: 1rem;
    border-color: #FFF7F4 ;
    background-color: #FFF7F4;
    margin-bottom: 0.5rem;
    font-size: 25px;
    font-weight: bold;
    color: #331403;
    padding-left: 1.5rem;
}
.item-button:nth-child(1) {
    margin-top: 1rem;
}

.item-button:hover {
    cursor: pointer;
    background-color: #feede7;
    color: #4d1e04;
}
#sunIcon {
    height: 1.8rem;
    width: 1.8rem;

}

